In [1]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

import scipy
import seaborn as sns
import xlsxwriter

import math
from math import exp, sqrt, log

%matplotlib inline

from scipy import stats

In [2]:
#abreviation for acivating library = web 
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data as web
import pandas_datareader.data as web

In [3]:
import datetime
start = datetime.datetime(2002, 1, 1)
end = datetime.datetime(2021, 1, 1)

macrovariables = web.DataReader(['PAYEMS', 'UNRATE', 'CPIAUCSL', 'GDPDEF', 'CLF16OV', 'FPCPITOTLZGUSA', 'TOTALSL', 'PSAVERT', 'NPPTTL', 'INTDSRUSM193N', 'UEMPMEAN', 'GS10'], 'fred', start, end)

macrovariables.head()

,PAYEMS,UNRATE,CPIAUCSL,GDPDEF,CLF16OV,FPCPITOTLZGUSA,TOTALSL,PSAVERT,NPPTTL,INTDSRUSM193N,UEMPMEAN,GS10
DATE,,,,,,,,,,,,
2002-01-01,130852,5.7,177.7,80.533,143883,1.586032,1867.41869,6.1,NaN,1.25,14.7,5.04
2002-02-01,130736,5.7,178.0,NaN,144653,NaN,1881.90537,5.8,NaN,1.25,15.0,4.91
2002-03-01,130717,5.7,178.5,NaN,144481,NaN,1894.69033,5.9,NaN,1.25,15.4,5.28
2002-04-01,130623,5.9,179.3,80.821,144725,NaN,1903.95799,5.8,109038.952,1.25,16.3,5.21
2002-05-01,130634,5.8,179.5,NaN,144938,NaN,1914.61399,6.5,108901.204,1.25,16.8,5.16

In [ ]:
## macrovariables.sort_values(ascending=False)

In [5]:
macrovariables.to_excel('fred_macrovariables.xls')